{% extends "admin/change_form.html" %}

{% block object-tools %}
{{ block.super }}
{% if original and original.id %}
<div class="submit-row" style="display: flex; flex-direction: column; gap: 14px; padding-top: 15px;">
    {% if original and original.status_display == 'Выдано' %}
        <input type="submit" value="Продлить выдачу" class="btn btn-success form-control"
            formaction="{% url 'admin:extend_circulation' object_id=original.id %}">
    {% endif %}
</div>
{% endif %}
{% endblock %}