{% extends "admin/change_form.html" %}

{% block submit_buttons_bottom %}
    <div class="submit-row" style="display: flex; flex-direction: column; gap: 14px; padding-top: 15px;">
        <button type="submit" class="btn btn-success form-control" name="_save"
                value="Сохранить">
            Сохранить
        </button>
        {% if original %}
            <a href="{% url 'admin:kservice_previouseditions_delete' original.id %}"
               class="btn btn-danger form-control">
                Удалить
            </a>
        {% endif %}
        {% if original and original.id %}
            <div class="submit-row" style="display: flex; flex-direction: column; gap: 10px; padding-top: 15px;">
                <input type="submit" value="Просмотр предыдущих изданий" class="btn btn-success form-control"
                       formaction="{% url 'admin:previous_editions_admin' object_id=original.id %}">
                <input type="submit" value="Отправить новые издания" class="btn btn-success form-control"
                       formaction="{% url 'admin:send_new_editions_admin' object_id=original.id %}">
            </div>
        {% endif %}
    </div>
{% endblock %}