{% extends "admin/change_form.html" %}

{% block object-tools %}
    {{ block.super }}
    {% if original and original.status == 'новый' %}
        <div class="submit-row" style="display: flex; flex-direction: column; gap: 10px; padding-top: 15px;">
            <input type="submit" value="Отправить заказ" class="btn btn-success form-control"
                   formaction="{% url 'admin:send_order' object_id=original.id %}">
            <input type="submit" value="Отменить заказ" class="btn btn-success form-control"
                   formaction="{% url 'admin:cancel_order' object_id=original.id %}">
        </div>
    {% endif %}
    {% if original.status == 'отправлен' %}
        <div class="submit-row" style="display: flex; flex-direction: column; gap: 10px; padding-top: 15px;">
            <input type="submit" value="Продлить" class="btn btn-success form-control"
                   formaction="{% url 'admin:extend_order_user' object_id=original.id %}">
        </div>
    {% endif %}
{% endblock %}
