{% extends "admin/change_form.html" %}
{% load i18n %}

{% block content %}
  {{ block.super }}

  <h3>Выбранные элементы для списания</h3>
  <table>
      <thead>
          <tr>
              <th>Инвентарный номер</th>
              <th>Тип издания</th>
          </tr>
      </thead>
      <tbody>
      {% for element in elements_data %}
          <tr>
              <td>{{ element.inventory_number }}</td>
              <td>{{ element.arrival__order_edition__edition__edition_subtype }}</td>
          </tr>
      {% empty %}
          <tr>
              <td colspan="2">Нет выбранных элементов.</td>
          </tr>
      {% endfor %}
      </tbody>
  </table>
{% endblock %}
